@model UscProject.Areas.KarFarma.ViewModel.EditForms
@{
    ViewBag.Title = "EditForms";
    Layout = "~/Areas/KarFarma/Views/Shared/_KarFarmaLayout.cshtml";
}
@{
    TempData["FormID"] = Model.form.FormID;
}
<link href="~/Areas/KarFarma/Content/assets/css/MyStyle.css" rel="stylesheet" />
<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3>اطلاعات فرم <span>/ ویرایش فرم</span></h3>
        </div>
    </div><!-- Page Heading End -->
    <!-- Page Button Group Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="buttons-group">
            <button class="button button-outline button-info btn-edit">ذخیره تغییرات</button>
            <a href="" class="button button-outline button-danger btn-delete" onclick="deleteitem(this)">حذف اگهی</a>
        </div>
    </div><!-- Page Button Group End -->

</div><!-- Page Headings End -->
<!-- Add or Edit Product Start -->
<div class="add-edit-product-wrap col-12">

    <div class="add-edit-product-form">

        <h4 class="title">درباره فرم</h4>

        <div class="row" id="addForm">
            <div class="col-lg-6 col-12 mb-30">
                <input id="City" class="form-control" type="text" value="@Model.form.City">
                <div id="city" style="display:none"><p style="color:red">فیلد مورد نظر را پر کنید</p></div>
                شهر
            </div>

            <div class="col-lg-6 col-12 mb-30">
                <input id="Region" class="form-control" type="text" value="@Model.form.Region">
                <div id="region" style="display:none"><p style="color:red">فیلد مورد نظر را پر کنید</p></div>
                منطقه
            </div>

            <div class="col-lg-6 col-12 mb-30">
                <select id="catselected" class="form-control nice-select">

                    @foreach (var item in Model.jobs)
                    {
                        if (Model.form.JobCategoryTB.JobCategory.ToString() == item.ToString())
                        {
                            <option value="@item.JobID" data-id="@item.JobID" selected>@item.JobCategory</option>
                        }
                        else
                        {
                            <option value="@item.JobID" data-id="@item.JobID">@item.JobCategory</option>
                        }
                    }
                </select>
                تخصص
            </div>

            <div class="col-12 mb-30"><textarea id="FormText" class="form-control">@Model.form.FormText</textarea>توضیحات فرم</div>
            <div class="col-12 mb-30">
                <input id="JobDescRiption" class="form-control" value="@Model.form.JobDescRiption">
                <div id="region" style="display:none"><p style="color:red">فیلد مورد نظر را پر کنید</p></div>
                نوع شغل
            </div>

            <div class="col-lg-6 col-12 mb-30">
                <select id="Gender" class="form-control nice-select">
                    @if (Model.form.Gender == "مرد")
                    {
                        <option value="مرد" selected>مرد</option>
                        <option value="زن">زن</option>
                        <option value="مرد-زن">مرد-زن</option>
                    }
                    else
                    {
                        if (Model.form.Gender == "زن")
                        {
                            <option value="مرد">مرد</option>
                            <option value="زن" selected>زن</option>
                            <option value="مرد-زن">مرد-زن</option>
                        }
                        else
                        {
                            <option value="مرد">مرد</option>
                            <option value="زن">زن</option>
                            <option value="مرد-زن" selected>مرد-زن</option>
                        }
                    }
                </select>
            </div>
            <div class="col-lg-6 col-12 mb-30">
                <input id="WorkingDays" class="form-control" type="text" value="@Model.form.WorkingDays">
                <div id="region" style="display:none"><p style="color:red">فیلد مورد نظر را پر کنید</p></div>
                تعداد روزهای کاری
            </div>
            <div class="col-12 mb-30"><textarea id="Benefits" class="form-control">@Model.form.Benefits</textarea>مزایا</div>
            <div class="col-12 mb-30"><textarea id="Requirements" class="form-control">@Model.form.Requirements</textarea>نرم افزاری های مورد نیاز</div>
            <div class="col-12 mb-30"><textarea id="Abilities" class="form-control">@Model.form.Abilities</textarea>توانایی ها</div>
        </div>
    </div>
</div>
<!--Basic End-->
@section PageScript
{
    @*<script src="~/Areas/Admin/Content/assets/js/plugins/moment/moment.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/footable/footable.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/footable/footable.active.js"></script>*@
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/toastr/toastr.active.js"></script>
    <script src="~/Areas/KarFarma/Content/assets/js/plugins/toastr/toastr.min.js"></script>
    <script>
        const inputs = document.querySelector('#addForm').querySelectorAll('input')
        var form = document.querySelector('#addForm');
        function deleteitem(e){
            if (confirm("ایا اگهی پاک شود؟"))
            {
                e.href = "/KarFarma/Forms/DeleteForm";
            }

        }
        inputs.forEach(input => input.addEventListener('keyup', function (e) {
            if (input.nextElementSibling) {

                const sib = input.nextElementSibling
                sib.style.display = "none"
            }
        }))
        function handeling(item) {
            if (item.value === "") {

                item.nextElementSibling.style.display = "block";
            form.classList.add("apply-shake")
            }
        }
        $(function () {
            $(document).ready(function () {
                $(document).on("click", ".btn-edit", function (e) {
                    //$(document).on("click", "#submit-form", function (e) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-center",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                    var e = document.getElementById("catselected");
                    var jobcategory = e.options[e.selectedIndex].value;

                    var t = document.getElementById("Gender");
                    var gender = t.options[t.selectedIndex].value;
                    inputs.forEach(handeling)
                    $.ajax({
                        type: "POST",
                        url: "/KarFarma/Forms/EditForms",
                        data: JSON.stringify({
                            FormID:@Model.form.FormID,
                            Region: $("#Region").val(),
                            City: $("#City").val(),
                            Benefits: $("#Benefits").val(),
                            WorkingDays: $("#WorkingDays").val(),
                            Gender: gender,
                            RequestDtae:"@Model.form.RequestDtae",
                            FormText: $("#FormText").val(),
                            JobDescRiption: $("#JobDescRiption").val(),
                            Requirements: $("#Requirements").val(),
                            Abilities: $("#Abilities").val(),
                            JobID: jobcategory,
                            OrderDetailID:@Model.form.OrderDetailID,
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (e) {
                            if (e.Status) {
                                toastr["success"]('تغییرات ذخیره شد');
                            }
                            else {
                                toastr["error"]('تغییرات اعمال نشد');

                            }
                        },
                        error: function () {
                            toastr["warning"]('خطا در ارتباط با سرور');
                        }
                    });
                });

            });
        });

    </script>
}

