@model IEnumerable<UscProject.Areas.Admin.ViewModels.KarfarmaInformations>
@{
    ViewBag.Title = "KarfarmaTables";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3 class="title">جداول <span>/ کارفرما</span></h3>
        </div>
    </div><!-- Page Heading End -->

</div><!-- Page Headings End -->

<div class="row">

    <!--Basic Start-->
    <div class="col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h3 class="title">کارفرما</h3>
            </div>
            <div class="box-body">

                <table class="table footable" data-paging="true" data-filtering="true" data-sorting="true" data-breakpoints='{ "xs": 480, "sm": 768, "md": 992, "lg": 1200, "xl": 1400 }'>
                    <thead>
                        <tr>
                            <th data-name="نام">نام</th>
                            <th data-breakpoints="xs" data-name="موقعیت">ایمیل</th>
                            <th data-breakpoints="xs" data-name="دفتر">دفتر</th>
                            <th data-breakpoints="xs sm" data-name="سن">تاریخ شروع</th>
                            <th data-breakpoints="xs sm md" data-name="سن">وضعیت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var g in Model)
                        {
                            <tr>
                                <td>@g.name</td>
                                <td>@g.email</td>
                                @if (g.company == null)
                                {
                                    <td>اسمی وارد نشده است</td>
                                }
                                else
                                {
                                    <td>@g.company</td>
                                }

                                <td>@g.DateOfRegister.ToShamsi()</td>
                                <td><a href="@Url.Action("ShowKarfarmaDetails","KarFarma", new { id = g.Employee.EmployeeID})"><span class="badge badge-pill badge-success">مشاهده پروفایل</span></a></td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <!--Basic End-->
    @section PageScript
{
        <script src="~/Areas/Admin/Content/assets/js/plugins/moment/moment.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/footable/footable.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/footable/footable.active.js"></script>
    }

</div>