@model PagedList.PagedList<UscProject.ViewModel.JobListsvm>
@using PagedList.Mvc;
@{
    ViewBag.Title = "JobLists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link  rel="stylesheet" href="~/Content_site/assets/css/MyStyleSheet1.css"/>
<section class="page-title title-bg6">
    <div class="d-table">
        <div class="d-table-cell">
            <h2>جزئیات شغل</h2>
            <ul>
                <li>
                    <a href="/">صفحه اصلی</a>
                </li>
                <li>جزئیات شغل</li>
            </ul>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- Page Title End -->
<!-- Job Section End -->
<section class="company-section company-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>مشاغلی که ممکن است در آن علاقمند باشید</h2>

        </div>

        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-12">
                    <div class="job-card-two" style="border-radius:15px;border-style:solid">
                        <div class="row align-items-center">

                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="@Url.Action("JobDetails",new { id=item.jobs.FormID})">@item.jobs.JobDescRiption</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            @item.jobcat
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            @item.jobs.Region ، @item.jobs.City
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            @item.jobs.RequestDtae.ToShamsi()
                                        </li>
                                        <li>
                                            <i class='bx bx-calendar-star'></i>
                                            تعداد روزهای مورد نیاز:@item.jobs.WorkingDays روز
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-right">
                                    <a href="@Url.Action("JobDetails",new { id=item.jobs.FormID})" class="default-btn" style="border-radius:5px;">
                                        انتخاب شغل
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <nav aria-label="Page navigation example" class="main">
            <ul class="pagination justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("JobLists",
                new { id = ViewBag.id, img = ViewBag, page }), new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item", "myclass","page-link" },
                    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                    DisplayLinkToPreviousPage=PagedListDisplayMode.IfNeeded
                })
            </ul>
        </nav>
    </div>
</section>