@model UscProject.Areas.Admin.ViewModels.contact_comment_vm
@{
    ViewBag.Title = "Reports";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3 class="title">نمودار گزارش ها</h3>
        </div>
    </div><!-- Page Heading End -->

</div><!-- Page Headings End -->

<div class="row">

    <!-- Line Start -->
    <div class="col-lg-6 col-md-6 col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">گزارش کارفرما و کارجو</h4>
            </div>
            <div class="box-body">
                <div id="chartContainer" class="example-chartjs">

                </div>
            </div>
        </div>
    </div><!-- Line End -->
    <div class="col-lg-6 col-md-6 col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">گزارش فرم های ارسالی</h4>
            </div>
            <div class="box-body">
                <div id="chartContainer2" class="example-chartjs">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-between align-items-center mb-10">

    <!-- Page Heading Start -->
    <div class="col-12 col-lg-auto mb-20">
        <div class="page-heading">
            <h3>نظرات</h3>
        </div>
    </div><!-- Page Heading End -->

</div><!-- Page Headings End -->
<!--Mail Wrapper Start-->
<div class="mail-wrapper">
    <div class="col-lg-12 col-12 mb-30">
        <div class="box">
            <div class="box-head">
                <h4 class="title">پاسخ گویی به نظرات و سوالات</h4>
            </div>
            <div class="box-body">
                <ul class="nav nav-pills mb-15">
                    <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#home6"><i class="zmdi zmdi-border-color"></i>تماس با ما</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#profile6"><i class="zmdi zmdi-border-color"></i>کامنت</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home6">
                        <div class="mail-list">
                            @foreach (var item in Model.contact)
                            {

                                <div class="mail">

                                    @*<div class="left">
                                        <label class="adomx-checkbox"><input type="checkbox"> <i class="icon"></i></label>
                                        <button class="mail-button-starred"><i class="zmdi zmdi-star-outline"></i></button>
                                    </div>*@

                                    <div class="middle">

                                        <div class="top">
                                            <h4 class="name"><a href="single-mail.html">@item.ContactUserName</a></h4>
                                            <span class="date">@item.ContactDate.ToShamsi()</span>
                                        </div>

                                        <div class="body">
                                            <h5>@item.ContactSubject</h5>
                                            <p>@item.ContactText</p>
                                            
                                        </div>
                                    </div>

                                    <div class="right">
                                        <button onclick="DeleteCon(this,@item.ContactID)" class="mail-button-delete"><i class="zmdi zmdi-delete"></i></button>
                                    </div>

                                </div>
                            }
                            <!--Mail End-->
                            <!--Mail Start-->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="profile6">
                        <div class="mail-list">
                            @foreach (var item in Model.comment)
                            {
                                <div class="mail">

                                    <div class="left">
                                        
                                            <label class="adomx-checkbox"><input type="checkbox"> <i class="icon"></i></label>
                                        
                                        <button class="mail-button-starred"><i class="zmdi zmdi-star-outline"></i></button>
                                    </div>

                                    <div class="middle">

                                        <div class="top">
                                            <h4 class="name"><a href="single-mail.html">@item.CommentUserName</a></h4>
                                            <span class="date">@item.CommentDate.ToShamsi()</span>
                                        </div>

                                        <div class="body">
                                            <h5>@item.CommentEmail</h5>
                                            <p>@item.CommentText</p>
                                            <button value="@item.CommentEmail" id="@item.CommentID" onclick="reply_click(this.id,this.value)" class="btn-default button-compose-mail button button-danger button-round" data-toggle="modal" data-target="#modal-compose-mail">پاسخ دادن</button>
                                        </div>
                                    </div>

                                    <div class="right">
                                        <button onclick="Delete(this,@item.CommentID)" class="mail-button-delete"><i class="zmdi zmdi-delete"></i></button>
                                    </div>

                                </div>
                            }

                            <!--Mail End-->
                            <!--Mail Start-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pill With Icon End-->

    </div>
</div>
<div class="compose-mail-modal modal fade" id="modal-compose-mail">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">پیام جدید</h5>
                <button type="button" class="close" data-dismiss="modal"><i class="zmdi zmdi-close"></i></button>
            </div>

            <div class="form">
                <form action="SendEmail" method="post">
                    <div class="row">
                        <input id="contactid" name="contactid" type="hidden">
                        <div class="col-6 mb-15">
                            <input class="form-control" type="email" name="receiver" id="myText">
                        </div>
                        <div class="col-6 mb-15">
                            <input class="form-control" type="text" name="subject" placeholder="موضوع">
                        </div>
                        <div class="col-6 mb-15">
                            <textarea rows="10" name="message" cols="50"></textarea>
                        </div>
                        <div class="buttons-group col-12">
                            <input class="btn btn-primary" type="submit" value="Send" />
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section PageScript
{
        <script src="~/Areas/Admin/Content/assets/MyChart/Chart.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/MyChart/utils.js"></script>
        <script src="~/Areas/Admin/Content/assets/MyChart/canvasjs.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/chartjs/Chart.min.js"></script>
        <script src="~/Areas/Admin/Content/assets/js/plugins/chartjs/chartjs.active.js"></script>
        <script>
window.onload = function () {

    var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
        theme: "dark2",
        title: {
		text: " تعداد کارفرما و کارجو"
	},
        axisX: {
            valueFormatString: "0"
	},
	axisY: {
		title: "کارفرما",

	},
	data: [{
        type: "spline",
        name: "کارفرما",
        showInLegend: true,
        xValueFormatString: "#0",
        dataPoints: @Html.Raw(ViewBag.DataPoints),
    },
        {
        type: "spline",
        name: "کارجو",
        showInLegend: true,
        xValueFormatString: "#0",
        dataPoints: @Html.Raw(ViewBag.DataPoints2),
    }

    ]
    });

    chart.render();
    var chart = new CanvasJS.Chart("chartContainer2", {
        theme: "dark2", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "تعداد فرم در هر سال"
	},
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.DataPoints3),
	}]
});
    chart.render();

}
        </script>
    <script>
        function reply_click(clicked_id,val) {
            document.getElementById("myText").value = val;
            document.getElementById("contactid").value = clicked_id;
        }

        function Delete(e, id) {
            if (confirm("پاک شود ؟")) {

                $.get("/Admin/Report/DeleteComment/" + id, function () {
                    $(e).parent().parent().remove();
                });
            }
        };
        function DeleteCon(e, id) {
            if (confirm("پاک شود ؟")) {

                $.get("/Admin/Report/DeleteContact/" + id, function () {
                    $(e).parent().parent().remove();
                });
            }
        };
    </script>
    }
