
@model UscProject.Models.FormTB
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>مشخصات فرم</title>
    <style>

        #t1 {
            border: 1px solid white;
            border-collapse: collapse;
            text-align: center;
        }

            #t1 th {
                border: 1px solid white;
                border-collapse: collapse;
                text-align: center;
            }

            #t1 td {
                border: 1px solid white;
                border-collapse: collapse;
                text-align: center;
                padding: 5px;
            }
    </style>
</head>
<body>
    <h4>مشخصات فرم</h4>

    <table id="t1" style="width:100%">
        <tr>
            <th>شهر</th>
            <td>@Model.City</td>
        </tr>
        <tr>
            <th>منطقه</th>
            <td>@Model.Region</td>
        </tr>

        <tr>
            <th>مزایای شغلی</th>
            <td>@Model.Benefits</td>
        </tr>

        <tr>
            <th>تعداد روز ها</th>
            <td>@Model.WorkingDays</td>
        </tr>

        <tr>
            <th>توضیحات</th>
            <td>@Model.FormText</td>
        </tr>
        <tr>
            <th>توضیحات تکمیلی</th>
            <td>@Model.JobDescRiption</td>
        </tr>
    </table>

</body>
</html>


